spring:
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/swiss-dg-db}
    username: ${JDBC_DATABASE_USERNAME:swisstour}
    password: ${JDBC_DATABASE_PASSWORD:pass-me}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  security:
    user:
      name: swisstour-admin
      password: sw1SSt0ur
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      PlayerPdgaNumberUnique: PLAYER_PDGA_NUMBER_UNIQUE
      PlayerSdaNumberUnique: PLAYER_SDA_NUMBER_UNIQUE
server:
  error:
    include-message: always


