---
spring:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  profiles:
    active: dev
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5432/swiss-dg-db}
    username: ${JDBC_DATABASE_USERNAME:${DB_USERNAME_DEV}}
    password: ${JDBC_DATABASE_PASSWORD:${DB_PASSWORD_DEV}}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  security:
    user:
      name: swisstour-admin
      password: sw1SSt0ur
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      PlayerPdgaNumberUnique: PLAYER_PDGA_NUMBER_UNIQUE
      PlayerSdaNumberUnique: PLAYER_SDA_NUMBER_UNIQUE
server:
  error:
    include-message: always
app:
  frontend:
    url: "http://localhost:4200"
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://dpg-d51cdomuk2gs73c6agk0-a.frankfurt-postgres.render.com:5432/swiss_dg_db}
    username: ${JDBC_DATABASE_USERNAME:${DB_USERNAME}}
    password: ${JDBC_DATABASE_PASSWORD:${DB_PASSWORD}}
app:
  frontend:
    url: "https://swisstour.onrender.com"


